body {
  margin: 0;
  border-collapse: collapse;
}

input {
  border: none;
  width: 700px;
}

input:focus {
  outline: none;
}

/* picked date align */
.rs-picker-default .rs-picker-toggle {
  position: relative;
  z-index: 5;
  padding-right: 67px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  color: #575757;
  border: 1px solid #e5e5ea;
  padding-left: 44px;
}
/* calander align */
.rs-picker-toggle-caret {
  display: inline-block;
  margin-right: 240px;
  position: absolute;
  top: 8px;
  right: 12px;
  font-weight: normal;
  color: #8e8e93;
}

/* ok button style */
.rs-picker-toolbar-right-btn-ok { 
  text-align: center; 
  cursor: pointer;
  outline: 0 ; 
  border: none; 
  padding: 8px 12px; 
  font-size: 14px; 
  border-radius: 30px;
  color: #fff;
  background-color: #3498ff;
  width: 100px;
}

/* range style */
.rs-picker-menu .rs-calendar .rs-calendar-table-cell-content {
  padding-left: 0;
  padding-right: 0;
  border-radius: 21px;
  display: inline-block;
}
/* .link {
    text-decoration: none;
    display: flex;
    color: black;
  }
.link Img {
    margin-right: 10px;
}
.exit-button {
  border: none;
  cursor: pointer;
}
.criteria-container{
  display: flex;
}
.criteria {
  min-width: 300px;
  display: flex;
  color:gray;
  padding: 15px;
  justify-content: space-around;
}
form button{
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
form button:first-child{
  background-color: lime;
}
form button:last-child {
  background-color: brown;
}
.form-accept{
  width: 250px;
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
} */